<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>

<%= @room.messages.each do |message| %>
  <p><%= message.content %></p>
<% end %>

<%= form_for Message.new, method: :post, url: %>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
